# Archivos de compilación de Gradle #
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos de compilación de Android Studio #
.idea/
.gradle/
/build/

# Archivos generados por Android Studio #
*.iml
.gradle
/local.properties

# Directorio de archivos de despliegue, este directorio no debe ser controlado por el control de versiones. #
/captures/

# Otros archivos y carpetas #
.DS_Store
*.class
*.log
*.pot
*.pyc
*.swp
*.bak
*.ini
/local.properties
/release.key

# Sublimes settings #
*.sublime-workspace

# Thumbnails #
._*
Thumbs.db

# Archivos de Eclipse #
.classpath
.project
.settings/
.metadata/

# Carpetas de salida #
bin/
gen/
out/